.size{
    height: 50%
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2020/06/30/19/42/the-soccer-field-5357418_960_720.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}