{% extends "layouts/base.html" %}

{% block title %} Generate Quote {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type='text/css' href="{{ ASSETS_ROOT }}/vendor/smartwizard/css/smart_wizard_all.min.css" rel="stylesheet">
<link type='text/css' href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link type='text/css' href="https://cdn.datatables.net/select/1.4.0/css/select.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css"
  rel="stylesheet" crossorigin="anonymous">
<style>
  .select-item:not(:first-child) {
    display: none!important;
  }

  iframe {
    background: url({{ ASSETS_ROOT }}/img/loader/1.gif) center center no-repeat
  }

</style>
{% endblock stylesheets %}

{% block content %}

<input type="hidden" id="pdf_url" value="{% url 'Quote_PDF' %}"

<!-- SmartWizard html -->
{% csrf_token %}
<div id="smartwizard">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#step-1">
            <div class="num">1</div>
            Selezione Campionati
          </a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link" href="#step-2">
            <span class="num">2</span>
            Selezione Match
          </a>
        </li> {% endcomment %}
        <li class="nav-item">
          <a class="nav-link" href="#step-2">
            <span class="num">2</span>
            Selezione Filtri
          </a>
        </li>
     </ul>
 
    <div class="tab-content" id="resize_wrapper">
        <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
          <table id="championship" class="display" style="width:100%">
            <thead>
              <tr>
                <th width="10%" class="text-center" id="champ">
                  <input type="checkbox" id="champ">
                </th>
                <th>Campionato</th>
              </tr>
            </thead>
            <tbody>
              {% for competition in competitions %}
              <tr>
                <td width="10%" id="champ">
                  <input type="hidden" name="champ_id" value="{{ competition.id }}" id="champ">
                </td>
                <td>{{competition.name}}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th>Campionato</th>
              </tr>
           </tfoot>
          </table>   
          <div id="output-box"></div>
        </div>
        {% comment %} <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
          <table id="matches" class="display" style="width:100%">
            <thead>
              <tr>
                <th width="10%" class="text-center" id="match">
                  <input type="checkbox">
                </th>
                <th width="40%">Match</th>
                <th>Campionato</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th width="40%">Match</th>
                <th>Campionato</th>
              </tr>
           </tfoot>
          </table>         
        </div> {% endcomment %}
        <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
              <div class="row text-center">
                <h1>Seleziona Date</h1>
              </div>
              <div class="row row-cols-2">
                <div class="col">
                  <label for="dtf" class="form-label">Da</label>
                  <div id="dt_from" 
                    data-td-target-input="nearest"
                    data-td-target-toggle="nearest"
                    class="input-group log-event">

                    <input
                    id="dtf"
                    type="text"
                    class="form-control"
                    data-td-target="#dt_from"
                    name="dt_from"
                    />
                    <span
                      class="input-group-text"
                      data-td-target="#dt_from"
                      data-td-toggle="datetimepicker"
                    >
                    <i class="fas fa-calendar"></i>
                  </div>

                </div>
                <div class="col">
                  <label for="dtt" class="form-label">A</label>
                  <div id="dt_to" 
                    data-td-target-input="nearest"
                    data-td-target-toggle="nearest"
                    class="input-group log-event">

                    <input
                    id="dtt"
                    type="text"
                    class="form-control"
                    data-td-target="#dt_to"
                    name="dt_to"
                    />
                    <span
                      class="input-group-text"
                      data-td-target="#dt_to"
                      data-td-toggle="datetimepicker"
                    >
                    <i class="fas fa-calendar"></i>
                  </div>

                </div>
              </div>
            </div>
            <div class="col col mt-4 mt-md-0">
              <div class="row text-center">
                <h1>Ordina per</h1>

                <fieldset>
                  <legend class="h6"></legend>
                  <div class="form-check">
                      <input class="form-check-input float-none" type="radio" name="order_by" id="d_radio" value="date" checked="">
                      <label class="form-check-label" for="d_radio">
                        Data e Ora
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input float-none" type="radio" name="order_by" id="t_radio" value="top">
                      <label class="form-check-label" for="t_radio">
                        Leghe Top
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input float-none" type="radio" name="order_by" id="o_radio" value="country">
                      <label class="form-check-label" for="o_radio">
                        Paese A-Z
                      </label>
                    </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
    </div>
 
    <!-- Include optional progressbar HTML -->
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<div class="container mt-5">
  <iFrame src="" name="iframe_pdf" width="100%" height="750px"></iFrame>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ ASSETS_ROOT }}/vendor/smartwizard/js/jquery.smartWizard.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>
<!-- Popperjs -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
crossorigin="anonymous"></script>
<!-- Tempus Dominus JavaScript -->
<script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js"
crossorigin="anonymous"></script>
<script src="{{ ASSETS_ROOT }}/js/quote/generate_quote.js"></script>
{% endblock javascripts %}
