{% extends "layouts/base.html" %}

{% block title %} Generate Quote {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type='text/css' href="{{ ASSETS_ROOT }}/vendor/smartwizard/css/smart_wizard_all.min.css" rel="stylesheet">
<link type="text/css" href="{{ ASSETS_ROOT }}/css/generate_quote.css" rel="stylesheet">
<link type='text/css' href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link type='text/css' href="https://cdn.datatables.net/select/1.4.0/css/select.dataTables.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

<!-- SmartWizard html -->
{% csrf_token %}
<div id="smartwizard">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#step-1">
            <div class="num">1</div>
            Selezione Campionati
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#step-2">
            <span class="num">2</span>
            Selezione Match
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#step-3">
            <span class="num">3</span>
            Selezione Giocata
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#step-4">
            <span class="num">4</span>
            Tabella finale
          </a>
        </li>
    </ul>
 
    <div class="tab-content" id="resize_wrapper">
        <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
          <table id="championship" class="display" style="width:100%">
            <thead>
              <tr>
                <th width="10%" class="text-center" id="champ">
                  <input type="checkbox">
                </th>
                <th>Campionato</th>
              </tr>
            </thead>
            <tbody>
              {% for competition in competitions %}
              <tr>
                <td width="10%">
                  <input type="hidden" name="champ_id" value="{{ competition.id }}">
                </td>
                <td>{{competition.name}}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th>Campionato</th>
              </tr>
           </tfoot>
          </table>   
        </div>
        <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
          <table id="matches" class="display" style="width:100%">
            <thead>
              <tr>
                <th width="10%" class="text-center" id="match">
                  <input type="checkbox">
                </th>
                <th width="40%">Match</th>
                <th>Campionato</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th width="40%">Match</th>
                <th>Campionato</th>
              </tr>
           </tfoot>
          </table>         
        </div>
        <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
          <table id="quote" class="display" style="width:100%">
            <thead>
              <tr>
                <th></th>
                <th>Tipologia giocata</th>
                <th>Giocata</th>
              </tr>
            </thead>
            <tbody>
              {% for qt in quote_types %}
              <tr>
                <td></td>
                <td>{{qt.get_super_quote}}</td>
                <td>{{qt.get_sub_quote}}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th>Tipologia giocata</th>
                <th>Giocata</th>
              </tr>
           </tfoot>
          </table>
        </div>
        <div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
          <table id="result" class="display" style="width:100%">
            <thead>
              <tr>
                <th>Campionato</th>
                <th>Partita</th>
                <th>Giocata</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Campionato</th>
                <th>Partita</th>
                <th>Giocata</th>
              </tr>
           </tfoot>
          </table>
        </div>
    </div>
 
    <!-- Include optional progressbar HTML -->
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ ASSETS_ROOT }}/vendor/smartwizard/js/jquery.smartWizard.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/quote/generate_quote.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>
{% endblock javascripts %}
