:root {
    /* --sw-border-color: #f16c13; */
    --sw-toolbar-btn-color: #ffffff;
    --sw-toolbar-btn-background-color:  #f16c13;
    --sw-anchor-default-primary-color:  #f8f9fa;
    --sw-anchor-default-secondary-color:  #dfc2a1;
    --sw-anchor-active-primary-color:  #f16c13;
    --sw-anchor-active-secondary-color:  #ffffff;
    --sw-anchor-done-primary-color:  #eca730;
    --sw-anchor-done-secondary-color:  #fefefe;
    --sw-anchor-disabled-primary-color:  #f8f9fa;
    --sw-anchor-disabled-secondary-color:  #dbe0e5;
    --sw-anchor-error-primary-color:  #dc3545;
    --sw-anchor-error-secondary-color:  #ffffff;
    --sw-anchor-warning-primary-color:  #ffc107;
    --sw-anchor-warning-secondary-color:  #ffffff;
    --sw-progress-color:  #f16c13;
    --sw-progress-background-color:  #f8f9fa;
    /* --sw-loader-color:  #009EF7; */
    --sw-loader-background-color:  #f8f9fa;
    --sw-loader-background-wrapper-color:  rgba(255, 255, 255, 0.7); 
}

.sidebar .nav-item .nav-link:hover {
    color: #F2F4F6;
    background-color: #f16c13;
}

#sidebarMenu{
    background-color: #3b3331 !important;
}

table.dataTable.stripe>tbody>tr.odd.selected>*, table.dataTable.display>tbody>tr.odd.selected>* {
    box-shadow: inset 0 0 0 9999px #f16c13 !important;
}

table.dataTable.hover>tbody>tr.selected>*, table.dataTable.display>tbody>tr.selected>* {
    box-shadow: inset 0 0 0 9999px #f16c13 !important;
}

.navbar-theme-primary:not(.headroom) {
    background-color: #3b3331 !important;
}