{% extends "layouts/base.html" %}

{% block title %} Modifica Utente {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="{{ ASSETS_ROOT }}/css/create_user.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

{% csrf_token %}
<form method="post" action="{%url 'edit-user'%}" class="mt-4">
                                
    {% csrf_token %}
    <div class="form-group mb-4">
        <label for="username">Username</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
                <span class="fas fa-user-circle"></span>
            </span>
            {{ userForm.username }}
        </div>  
        <span class="text-error">{{ userForm.username.errors }}</span>
    </div>

    <div class="form-group mb-4">
        <label for="first_name">Nome</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
                <span class="fas fa-user-circle"></span>
            </span>
            {{ userForm.first_name }}
        </div>  
        <span class="text-error">{{ userForm.first_name.errors }}</span>
    </div>

    <div class="form-group mb-4">
        <label for="last_name">Cognome</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
                <span class="fas fa-user-circle"></span>
            </span>
            {{ userForm.last_name }}
        </div>  
        <span class="text-error">{{ userForm.last_name.errors }}</span>
    </div>


    <!-- Form -->
    <div class="form-group mb-4">
        <label for="email">Email</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
                <span class="fas fa-envelope"></span>
            </span>
            {{ userForm.email }}
        </div>  
        <span class="text-error">{{ userForm.email.errors }}</span>
    </div>
    <!-- End of Form -->
    <div class="form-group">
        
        <!-- Form -->
        <div class="form-group mb-4 pass">
            <label for="password">Password </label>
            <button id="gen_pass" type="button" style="color:white; background-color: #374151; border:0px; margin-left:10px; border-radius: 5px">Genera password</button>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon2" >
                    <span class="fas fa-unlock-alt"></span>
                </span>
                {{ userForm.password }}
            </div>  
            <span class="text-error">{{ userForm.password.errors }}</span>
        </div>

        <div class="form-group mb-4">
            <label for="dealer">Scegli il dealer:</label>
            <div class="input-group form-select">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa-solid fa-earth-europe"></i>
                </span>
                {{ userForm.dealer_id }}
            </div>  
            <span class="text-error">{{ userForm.dealer.errors }}</span>
        </div>

        <div class="form-group mb-4">
            <label for="s_name">Nome negozio</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa-solid fa-at"></i>
                </span>
                {{ shopForm.s_name }}
            </div>  
            <span class="text-error">{{ shopForm.s_name.errors }}</span>
        </div>

        <div class="form-group mb-4">
            <label for="s_tel">Numero Telefono</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa-solid fa-phone"></i>
                </span>
                {{ shopForm.s_tel }}
            </div>  
            <span class="text-error">{{ shopForm.s_tel.errors }}</span>
        </div>

        <!-- End of Form -->
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-gray-800">Modifica utente</button>
    </div>
</form>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ ASSETS_ROOT }}/js/user/create_user.js"></script>
{% endblock javascripts %}
