{% extends "layouts/base.html" %}

{% block title %} Lista Utenti {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type='text/css' href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link type='text/css' href="https://cdn.datatables.net/select/1.4.0/css/select.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock stylesheets %}

{% block content %}

{% csrf_token %}
<h1>Lista Utenti</h1>
<table id="user-list" class="display" style="width:100%">
  <thead >
    <tr>
      <th>Username</th>
      <th width="20%">Nome</th>
      <th width="20%">Cognome</th>
      <th width="25%">Nome Shop</th>
      <th width="20%">Telefono Shop</th>
      <th>Modifica</th>
      <th>Elimina</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td width="20%">{{ user.username }}</td>
      <td width="20%">{{ user.first_name }}</td>
      <td width="20%">{{ user.last_name }}</td>
      <td width="25%">{{ user.shop.s_name }}</td>
      <td width="20%">{{ user.shop.s_tel }}</td>
      <td><a class="edit" href="" style="border:none; margin-left: 15px;"><i class="fa fa-edit" style="font-size:22px;"></i></a></td>
      <td><button type="button" id="btnDelete" class="btn-delete-user" style="border:none; margin-left: 15px;" data-bs-toggle="modal" data-bs-target="#modalDeleteUser" data-tb-id="{{ user.id }}"><i class="fa fa-remove" style="font-size:20px; color:red;"></i></button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>   

<div class="modal fade" id="modalDeleteUser" tabindex="-1" aria-labelledby="modalDeleteUserLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDeleteUserLabel">Eliminazione utente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Sicuro di voler eliminare?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">NO</button>
        <form action="{%url 'delete-user'%}" method="POST">
          {% csrf_token %}
          <input type="hidden" id="userId" name="user_id" value="">
          <button type="submit" class="btn btn-success" style="color:#ffffff">SI</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/user/user_list.js"></script>
{% endblock javascripts %}
